{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="email" name="username" required>
    <input type="password" name="login-password" required>
    <input type="checkbox" name="remember" value="remember-me">
    <button>
        Login
    </button>
    <a href="{% url 'accounts:sign-up' %}">
        <small>
            Need an account ?
        </small>
    </a>
    <a href="#">
        <small>
            Forgot Password?
        </small>
    </a>
</form>
{% endblock content %}